:root{
  --primary: #20484F;
  --primary-hover: #1A3B41;
  --primary-disabled: #4F757B;
  
  --primary-dark: #072125;
  --primary-dark-disabled: #07212566;

  --primary-light: #B8E4DA;
  --primary-light-hover: #A3D1C7;
  --primary-light-disabled: #DDF8F1;

  --primary-lighter: #DCF2ED;

  --border: #20484f1a;
  --border-hover: #20484f33;

  --pale-grey: #FAFAFA;

  --pure-white: #FFFFFF;
  --pure-white-disabled: #c2c2c26b;
}