form{
  display: flex;
  align-items: flex-start;
  flex-flow: column;
  gap: .75rem;

  input, textarea{
    font-size: 1.125rem;
    background: var(--pure-white);
    border: none;
    border-radius: .5rem;
    box-shadow: inset 0 0 0 0.0625rem var(--border);
    padding: .75rem 1.25rem .75rem 1rem;
    &::placeholder{
      color: var(--border-hover);
    }
  }

  textarea{
    resize: none;
  }
  
  // input
  .checkbox-input, .radio-input{
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  // :checked
  .checkbox-input:checked{
    & + .checkbox-label .checkbox{
      display: grid;
      place-items: center;
      background: var(--primary);
      div{
        transform: translateY(-25%) rotate(-45deg);
        &::before, &::after{
          content: '';
          display: block;
          background: var(--primary-light);
        }
        &::before{
          width: .125rem;
          height: .375rem;
        }
        &::after{
          width: .6875rem;
          height: .125rem;
        }
      }
    }
  }
  .radio-input:checked{
    & + .radio-label .radio{
      position: relative;
      display: grid;
      place-items: center;
      background: var(--primary);
      &::before{
        content: '';
        position: absolute;
        width: 50%;
        height: 50%;
        background: var(--primary-light);
        border-radius: 50%;
      }
    }
  }
  // icon
  .checkbox, .radio{
    width: 1.5rem;
    height: 1.5rem;
    box-shadow: inset 0 0 0 0.0625rem var(--border);
    border-radius: .25rem;
  }
  .radio{
    border-radius: 50%;
  }
  // label (icon + text)
  .checkbox-label, .radio-label{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .75rem;
    font-size: 1.125rem;
  }
  // :hover
  .checkbox-label:hover, .radio-label:hover{
    .checkbox, .radio{
      box-shadow: inset 0 0 0 0.0625rem var(--border-hover);
    }
  }
}