@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');

body, button, input, textarea{
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.5;
}

h1{ line-height: 1.2; }
h1{ font-size: 3.125rem; }
h2{ font-size: 2.5rem; }
h3{ font-size: 2rem; }
h4{ font-size: 1.5rem; }
h5{ font-size: 1.125rem; }
h6{ font-size: 1rem; }
h2, h3, h4, h5, h6{ line-height: 1.3; }

p.xl{ font-size: 1.5rem; }
p.lg{ font-size: 1.125rem; }
p.md{ font-size: 1rem; }
p.sm{ font-size: 0.875rem; }

a{
  text-decoration: none;
  color: #000;
}