@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--pale-grey);
}

:root {
  --primary: #20484F;
  --primary-hover: #1A3B41;
  --primary-disabled: #4F757B;
  --primary-dark: #072125;
  --primary-dark-disabled: #07212566;
  --primary-light: #B8E4DA;
  --primary-light-hover: #A3D1C7;
  --primary-light-disabled: #DDF8F1;
  --primary-lighter: #DCF2ED;
  --border: #20484f1a;
  --border-hover: #20484f33;
  --pale-grey: #FAFAFA;
  --pure-white: #FFFFFF;
  --pure-white-disabled: #c2c2c26b;
}

body, button, input, textarea {
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.5;
}

h1 {
  line-height: 1.2;
}

h1 {
  font-size: 3.125rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

h2, h3, h4, h5, h6 {
  line-height: 1.3;
}

p.xl {
  font-size: 1.5rem;
}

p.lg {
  font-size: 1.125rem;
}

p.md {
  font-size: 1rem;
}

p.sm {
  font-size: 0.875rem;
}

button, a.btn {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  background: var(--primary);
  color: var(--pure-white);
  font-size: 1.125rem;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2.25rem;
}
button:hover, a.btn:hover {
  background: var(--primary-hover);
}
button:disabled, a.btn:disabled {
  cursor: default;
  color: var(--pure-white-disabled);
  background: var(--primary-dark-disabled);
}
button.small, a.btn.small {
  font-size: 0.875rem;
  padding: 0.625rem 1rem;
}
button.white, a.btn.white {
  color: var(--primary-dark);
  background: var(--pure-white);
  box-shadow: inset 0 0 0 0.0625rem var(--border);
}
button.white:hover, a.btn.white:hover {
  background: var(--pale-grey);
}
button.white:disabled, a.btn.white:disabled {
  color: var(--primary-dark-disabled);
  background: var(--pale-grey);
}
button.light, a.btn.light {
  color: var(--primary-dark);
  background: var(--primary-light);
}
button.light:hover, a.btn.light:hover {
  background: var(--primary-light-hover);
  box-shadow: inset 0 0 0 0.0625rem var(--border);
}
button.light:disabled, a.btn.light:disabled {
  color: var(--primary-dark-disabled);
  background: var(--primary-light-disabled);
  box-shadow: inset 0 0 0 0.0625rem var(--border);
}

form {
  display: flex;
  align-items: flex-start;
  flex-flow: column;
  gap: 0.75rem;
}
form input, form textarea {
  font-size: 1.125rem;
  background: var(--pure-white);
  border: none;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0 0.0625rem var(--border);
  padding: 0.75rem 1.25rem 0.75rem 1rem;
}
form input::-moz-placeholder, form textarea::-moz-placeholder {
  color: var(--border-hover);
}
form input::placeholder, form textarea::placeholder {
  color: var(--border-hover);
}
form textarea {
  resize: none;
}
form .checkbox-input, form .radio-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
form .checkbox-input:checked + .checkbox-label .checkbox {
  display: grid;
  place-items: center;
  background: var(--primary);
}
form .checkbox-input:checked + .checkbox-label .checkbox div {
  transform: translateY(-25%) rotate(-45deg);
}
form .checkbox-input:checked + .checkbox-label .checkbox div::before, form .checkbox-input:checked + .checkbox-label .checkbox div::after {
  content: "";
  display: block;
  background: var(--primary-light);
}
form .checkbox-input:checked + .checkbox-label .checkbox div::before {
  width: 0.125rem;
  height: 0.375rem;
}
form .checkbox-input:checked + .checkbox-label .checkbox div::after {
  width: 0.6875rem;
  height: 0.125rem;
}
form .radio-input:checked + .radio-label .radio {
  position: relative;
  display: grid;
  place-items: center;
  background: var(--primary);
}
form .radio-input:checked + .radio-label .radio::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  background: var(--primary-light);
  border-radius: 50%;
}
form .checkbox, form .radio {
  width: 1.5rem;
  height: 1.5rem;
  box-shadow: inset 0 0 0 0.0625rem var(--border);
  border-radius: 0.25rem;
}
form .radio {
  border-radius: 50%;
}
form .checkbox-label, form .radio-label {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1.125rem;
}
form .checkbox-label:hover .checkbox, form .checkbox-label:hover .radio, form .radio-label:hover .checkbox, form .radio-label:hover .radio {
  box-shadow: inset 0 0 0 0.0625rem var(--border-hover);
}

.container {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  padding: 2rem;
}

.flex {
  display: flex;
  gap: 1rem;
}
.flex.col {
  flex-flow: column;
}/*# sourceMappingURL=index.css.map */